# OS ARCHIVOS GENERADOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ARCHIVOS CAKEPHP
app/Config/database.php
app/tmp/*
app/webroot/resource/videos/*.mp4
app/webroot/resource/guias/*.jpg
app/webroot/resource/archivos/*.pdf
app/webroot/resource/archivos/*.rtf


# ARCHIVOS IDE
.idea/*