# OS ARCHIVOS GENERADOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ARCHIVOS CAKEPHP
app/Config/database.php
app/tmp/*

app/webroot/resource/videos/*.mp4
app/webroot/resource/videos/*.swf
app/webroot/resource/videos/*.webm
app/webroot/resource/videos/*.ogg
app/webroot/resource/videos/*.ogv

app/webroot/resource/guias/*.jpg

app/webroot/resource/archivos/*.pdf
app/webroot/resource/archivos/*.rtf
app/webroot/resource/archivos/*.xls
app/webroot/resource/archivos/*.xlsx
app/webroot/resource/archivos/*.ppt
app/webroot/resource/archivos/*.pptx
app/webroot/resource/archivos/*.doc
app/webroot/resource/archivos/*.docx


# ARCHIVOS IDE
.idea/*