body
{
	background-image:url(../images/bg/blueprint.png);
}

div#da-header #da-header-top
{
	background-image:url(../images/headers/carbon.png);
}
table.da-table tr.even.row_selected td {
    background-color: #A9CA60;
}

table.da-table tr.odd.row_selected td {
    background-color: #A9CA60;
}