img{
    max-width: 100%;
    height: auto;
}
 
/* iPads (portrait and landscape) (DESDE 768PX HASTA 1024PX VA SER DE COLOR ROJO) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
 	
	/*body {*/
 		/*background-color: red;*/
 	/*}*/
	.sombra_home {
    	left: 34px;
	}
	.content_headerg {
	    margin: 0 auto;
	    width: 100%;
	}
	body#guia .content_guia {
    	margin: 0 auto 17%;
	}
    .content {
        margin: 0 auto 140px;
    }
}
@media only screen and (max-width : 768px) {
	/*body {*/
 		/*background-color: blue;*/
 	/*}*/
 	.content_guia {
    	width: 100%;
	}
	.slider_test ul.bxslider li .box_slider {
		width: 100%;
		margin: 0px;
	}
	body#guia .content_guia {
    	margin: 0 auto 25%;
	}
	.ui-slider-horizontal {
		width: 100%;
	}
	.ui-slider-horizontal {
	    height: 0.8em;
	    margin: 0 0 0 11px;
	    width: 97%;
	}
	.sombra_home {
    	left: 10px;
	}
	/*LOGIN*/
	.content {
		margin: 0 auto 15%;
		width: 100%;
	}	
	.content_headerg {
	    margin: 0 auto;
	    width: 100%;
	}
	.content_header {
 		width: 100%;
	}
	.center_imagen {
		width: 100%;
	}	
	.content .central_box {
	    left: 515px;
	    top: 251px;
	    width: 693px;
	}
	.form {
	    left: 175px;
	}

	.sombra {
    background: url("../images/sombra_box.png") no-repeat scroll center center / 608px auto rgba(0, 0, 0, 0);
    height: 30px;
    left: -154px;
    position: absolute;
    top: 324px;
    width: 960px;
	}

	/*HOME*/
	.boxes {
    	width: 100%;
	}
	.box {
		width: 315px;
	}
	.box p {
    	font-size: 8px;
    }
	a.btn_azul {
 		margin: 0 0 10px 57px;
	}
	a.btn_descargar {
		margin: 0 0 0 56px;
	}
	.content .sombra_home {
		left: -120px;
		top: 577px;
	}
}    
/* iPads (portrait) (HASTA 768PX COLOR AZUL)  ----------- */
@media only screen and (max-width : 768px) {
      
}
/* iPads (portrait) (HASTA 800PX COLOR AZUL)  ----------- */
@media only screen and (max-width : 800px) and (min-width : 768px){
    
}
/* MINI TABLETS (landscape)(HASTA 600PX COLOR AZUL) ----------- */
@media only screen and (max-width :600px) and (min-width: 569px){
    
}
/* Smartphones (portrait) (HASTA 568PX IPHONE 5)----------- */
@media only screen and (max-width : 568px) {
   
}
/* Smartphones (landscape) (HASTA 480PX COLOR NEGRO)----------- */
@media only screen and (max-width : 480px) {
   
}    
/* Smartphones (portrait) (HASTA 320PX COLOR NEGRO)----------- */
@media only screen and (max-width : 320px) {
    

}
@media only screen and (max-width :320px) and (max-height: 480px){
   
}    