label{
	display: none;
}
input[type="radio"] {
    display: block;
}
.radio {
    float: left;
    margin: 5px 9px 0 0;
}
.logo_right{
	background-image: url("../images/hoja.png");
	background-repeat: no-repeat;
	background-position: right;
}
.logo_left_m{
	width: 40px;
}