<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
    AddType video/ogg .ogv
    AddType video/mp4 .mp4
    AddType video/webm .webm
</IfModule>